# Auto detect text files and perform LF normalization
* text=auto
<html>
    <head>
        <title>Testando</title>
    </head>
    <body>
        Teste teste testando
        <h2>Absoluto</ph2>
    </body>
</html>
